.hero {
  width: 100%;
  height: calc(100vh - 120px);
  margin-top: unset;
}

.hero .hero-contain {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero .hero-contain .hero-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 120px;
  padding-left: 52px;
}

.hero .hero-contain .hero-inner .hero-inner-left h1 {
  margin-bottom: 40px;
}

.hero .hero-contain .hero-inner .hero-inner-left span {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--accent-colour);
}

.hero .hero-contain .hero-inner .hero-inner-left .work-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 196px;
  height: 56px;
  margin-top: 72px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  border: 1px solid var(--accent-colour);
}

.hero .hero-contain .hero-inner .hero-inner-left .work-btn:hover {
  background-color: var(--font-colour);
  color: var(--primary-colour);
}

.hero .hero-contain .hero-inner .hero-inner-right {
  width: 28%;
  margin-left: auto;
  margin-right: 104px;
  margin-top: auto;
  margin-bottom: 120px;
}

.hero .hero-contain .hero-inner .hero-inner-right h4 {
  margin-bottom: 24px;
}

.hero .hero-contain .hero-scroll {
  position: absolute;
  bottom: 40px;
  left: 0;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.5;
}

.title-contain {
  margin-bottom: 40px;
}

@media screen and (min-width: 760px) {
  .title-contain {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .title-contain {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1600px) {
  .title-contain {
    margin-bottom: 80px;
  }
}

.title-contain .title {
  overflow: hidden;
}

.title-contain .title h2 {
  -webkit-animation: title-anim 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
          animation: title-anim 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
}

@-webkit-keyframes title-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes title-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.title-contain .description {
  overflow: hidden;
}

.title-contain .description span {
  display: block;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #8d8d8d;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-animation: title-anim 0.6s 0.2s cubic-bezier(0.51, 0.92, 0.24, 1);
          animation: title-anim 0.6s 0.2s cubic-bezier(0.51, 0.92, 0.24, 1);
}

@media screen and (min-width: 640px) {
  .title-contain .description span {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .title-contain .description span {
    font-size: 17px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1600px) {
  .title-contain .description span {
    margin-top: 12px;
    font-size: 18px;
  }
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  overflow: hidden;
}

@media screen and (min-width: 760px) {
  .social-icons {
    margin-top: 48px;
  }
}

.social-icons .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 20px;
  border-radius: 100%;
  border: 1px solid var(--accent-colour);
}

@media screen and (min-width: 1280px) {
  .social-icons .social-icon {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .social-icons .social-icon {
    width: 44px;
    height: 44px;
  }
}

.social-icons .social-icon:hover {
  border-color: var(--font-colour);
}

.social-icons .social-icon img {
  width: 14px;
  height: 14px;
  border-radius: 0 !important;
}

@media screen and (min-width: 1280px) {
  .social-icons .social-icon img {
    width: 16px;
    height: 16px;
  }
}

.tag-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tag-contain .info-tag {
  margin-bottom: 12px;
  margin-right: 16px;
  padding: 8px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 8px;
  text-transform: uppercase;
  border: 1px solid var(--tag-colour);
  border-radius: 4px;
  white-space: nowrap;
}

.email-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  font-size: 17px;
  font-weight: 500;
  color: var(--accent-colour);
}

@media screen and (min-width: 1280px) {
  .email-btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 1600px) {
  .email-btn {
    font-size: 20px;
  }
}

.email-btn:hover {
  color: var(--font-colour);
}

.email-btn:hover svg path {
  stroke: var(--font-colour);
}

.email-btn svg {
  width: 12px;
  height: 12px;
  margin-left: 6px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media screen and (min-width: 1280px) {
  .email-btn svg {
    width: 13px;
    height: 13px;
  }
}

@media screen and (min-width: 1600px) {
  .email-btn svg {
    width: 14px;
    height: 14px;
  }
}

.email-btn svg path {
  stroke: #8d8d8d;
  stroke-width: 1px;
}

.about {
  position: relative;
}

.about .about-intro {
  margin-bottom: 24px;
  overflow: hidden;
}

@media screen and (min-width: 760px) {
  .about .about-intro {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: unset;
  }
}

@media screen and (min-width: 760px) {
  .about .about-inner {
    width: 440px;
    margin-left: 180px;
  }
}

@media screen and (min-width: 1280px) {
  .about .about-inner {
    margin-left: 260px;
  }
}

@media screen and (min-width: 1600px) {
  .about .about-inner {
    width: 480px;
    margin-left: 320px;
  }
}

@media screen and (min-width: 760px) {
  .about .about-contact {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.services .services-inner {
  width: 100%;
}

@media screen and (min-width: 760px) {
  .services .services-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 180px);
    margin-left: 180px;
  }
}

@media screen and (min-width: 1280px) {
  .services .services-inner {
    width: calc(100% - 260px);
    margin-left: 260px;
  }
}

@media screen and (min-width: 1600px) {
  .services .services-inner {
    width: calc(100% - 320px);
    margin-left: 320px;
  }
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-grid {
    width: 480px;
  }
}

@media screen and (min-width: 1280px) {
  .services .services-inner .services-grid {
    width: 560px;
  }
}

@media screen and (min-width: 1600px) {
  .services .services-inner .services-grid {
    width: 640px;
  }
}

.services .services-inner .services-grid .services-item {
  width: 100%;
  margin-top: 40px;
}

.services .services-inner .services-grid .services-item:nth-child(1) {
  margin-top: unset;
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-grid .services-item {
    margin-top: 44px;
  }
}

@media screen and (min-width: 1600px) {
  .services .services-inner .services-grid .services-item {
    margin-top: 48px;
  }
}

.services .services-inner .services-grid .services-item .services-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden;
}

.services .services-inner .services-grid .services-item .services-header img {
  opacity: 0.5;
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-grid .services-item .services-header {
    margin-bottom: 16px;
  }
}

.services .services-inner .services-grid .services-item .services-line {
  width: 100%;
  height: 1px;
  background-color: var(--line-colour);
}

.services .services-inner .services-grid .services-item .services-txt {
  padding-top: 14px;
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-grid .services-item .services-txt {
    padding-top: 16px;
  }
}

.services .services-inner .services-aside {
  width: 100%;
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-aside {
    width: 200px;
    margin-left: auto;
  }
}

.services .services-inner .services-aside .pricing-btn {
  position: -webkit-sticky;
  position: sticky;
  display: block;
  right: 0;
  width: 100%;
  margin-top: 80px;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--accent-colour);
  color: var(--font-colour);
}

.services .services-inner .services-aside .pricing-btn:hover {
  background-color: var(--font-colour);
  color: var(--primary-colour);
  border-color: var(--font-colour);
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-aside .pricing-btn {
    top: calc(100vh - 120px);
    margin-top: unset;
    font-weight: 700;
  }
}

@media screen and (min-width: 1600px) {
  .services .services-inner .services-aside .pricing-btn {
    top: calc(100vh - 128px);
    font-size: 15px;
  }
}

.services .services-inner .services-aside .price-calc {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.4s 0.8s ease-out;
  transition: 0.4s 0.8s ease-out;
  z-index: 1000000;
}

.services .services-inner .services-aside .price-calc.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.services .services-inner .services-aside .price-calc .price-calc-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.services .services-inner .services-aside .price-calc .price-calc-inner {
  position: relative;
  width: 0;
  height: 480px;
  -webkit-transition: 0.4s 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: 0.4s 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
  overflow: hidden;
}

.services .services-inner .services-aside .price-calc .price-calc-inner.visible {
  width: 640px;
  -webkit-transition: 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 100%;
  padding: 40px;
  background-color: var(--primary-colour);
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-title {
  width: 100%;
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-title .price-calc-title-contain {
  overflow: hidden;
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-title .price-calc-title-contain .title {
  font-size: 28px;
  font-weight: 700;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-title .price-calc-title-contain .title.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.6s 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: 0.6s 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-title p {
  margin-top: 16px;
  color: var(--accent-colour);
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-title p.visible {
  opacity: 1;
  -webkit-transition: 0.6s 0.4s ease-out;
  transition: 0.6s 0.4s ease-out;
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-main {
  width: 100%;
  margin-top: 40px;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-main.visible {
  opacity: 1;
  -webkit-transition: 0.6s 0.4s ease-out;
  transition: 0.6s 0.4s ease-out;
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-main .price-calc-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-main .price-calc-select li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: calc(100% / 3);
  font-size: 18px;
  font-weight: 500;
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-main .price-calc-select li .check {
  width: 12px;
  height: 12px;
  margin-left: 16px;
  border: 1px solid var(--font-colour);
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-main .price-calc-select li .check.active {
  background-color: var(--font-colour);
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-main .price-calc-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 56px;
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-main .price-calc-details .details-select {
  margin-bottom: 24px;
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-main .price-calc-details .details-select label {
  font-size: 18px;
  font-weight: 500;
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-main .price-calc-details .details-select select {
  margin-left: 16px;
  font-size: 18px;
  background-color: transparent;
  color: var(--accent-colour);
  border: none;
}

.services .services-inner .services-aside .price-calc .price-calc-inner .price-calc-content .price-calc-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 24px;
  padding-top: 32px;
  border-top: 1px solid var(--accent-colour);
}
/*# sourceMappingURL=Sections.css.map */