.title-contain {
  margin-bottom: 40px;
}

@media screen and (min-width: 760px) {
  .title-contain {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .title-contain {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1600px) {
  .title-contain {
    margin-bottom: 80px;
  }
}

.title-contain .title {
  overflow: hidden;
}

.title-contain .title h2 {
  -webkit-animation: title-anim 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
          animation: title-anim 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
}

@-webkit-keyframes title-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes title-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.title-contain .description {
  overflow: hidden;
}

.title-contain .description span {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #8d8d8d;
  -webkit-animation: title-anim 0.4s 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
          animation: title-anim 0.4s 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
}

@media screen and (min-width: 640px) {
  .title-contain .description span {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .title-contain .description span {
    font-size: 16px;
  }
}

@media screen and (min-width: 1600px) {
  .title-contain .description span {
    margin-top: 12px;
    font-size: 18px;
  }
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  overflow: hidden;
}

@media screen and (min-width: 760px) {
  .social-icons {
    margin-top: 56px;
  }
}

.social-icons .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 20px;
  border-radius: 100%;
  border: 1px solid var(--accent-colour);
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

@media screen and (min-width: 1280px) {
  .social-icons .social-icon {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .social-icons .social-icon {
    width: 44px;
    height: 44px;
  }
}

.social-icons .social-icon:hover {
  border-color: var(--font-colour);
}

.social-icons .social-icon img {
  width: 14px;
  height: 14px;
  border-radius: 0 !important;
}

@media screen and (min-width: 1280px) {
  .social-icons .social-icon img {
    width: 16px;
    height: 16px;
  }
}

.email-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  font-size: 17px;
  font-weight: 500;
  color: var(--accent-colour);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

@media screen and (min-width: 1280px) {
  .email-btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 1600px) {
  .email-btn {
    font-size: 20px;
  }
}

.email-btn:hover {
  color: var(--font-colour);
}

.email-btn:hover svg path {
  stroke: var(--font-colour);
}

.email-btn svg {
  width: 12px;
  height: 12px;
  margin-left: 6px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media screen and (min-width: 1280px) {
  .email-btn svg {
    width: 13px;
    height: 13px;
  }
}

@media screen and (min-width: 1600px) {
  .email-btn svg {
    width: 14px;
    height: 14px;
  }
}

.email-btn svg path {
  stroke: #8d8d8d;
  stroke-width: 1px;
  -webkit-transition: stroke 0.2s ease-in-out;
  transition: stroke 0.2s ease-in-out;
}

.about {
  position: relative;
}

.about .about-intro {
  margin-bottom: 24px;
}

@media screen and (min-width: 760px) {
  .about .about-intro {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: unset;
  }
}

@media screen and (min-width: 760px) {
  .about .about-inner {
    width: 420px;
    margin-left: 180px;
  }
}

@media screen and (min-width: 1280px) {
  .about .about-inner {
    margin-left: 260px;
  }
}

@media screen and (min-width: 1600px) {
  .about .about-inner {
    width: 480px;
    margin-left: 320px;
  }
}

@media screen and (min-width: 760px) {
  .about .about-contact {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.services .services-inner {
  width: 100%;
}

@media screen and (min-width: 760px) {
  .services .services-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 180px);
    margin-left: 180px;
  }
}

@media screen and (min-width: 1280px) {
  .services .services-inner {
    width: calc(100% - 260px);
    margin-left: 260px;
  }
}

@media screen and (min-width: 1600px) {
  .services .services-inner {
    width: calc(100% - 320px);
    margin-left: 320px;
  }
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-grid {
    width: 480px;
  }
}

@media screen and (min-width: 1280px) {
  .services .services-inner .services-grid {
    width: 560px;
  }
}

@media screen and (min-width: 1600px) {
  .services .services-inner .services-grid {
    width: 640px;
  }
}

.services .services-inner .services-grid .services-item {
  width: 100%;
  margin-top: 40px;
}

.services .services-inner .services-grid .services-item:nth-child(1) {
  margin-top: unset;
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-grid .services-item {
    margin-top: 44px;
  }
}

@media screen and (min-width: 1600px) {
  .services .services-inner .services-grid .services-item {
    margin-top: 48px;
  }
}

.services .services-inner .services-grid .services-item .services-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden;
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-grid .services-item .services-header {
    margin-bottom: 20px;
  }
}

.services .services-inner .services-grid .services-item .services-line {
  width: 100%;
  height: 1px;
  background-color: var(--line-colour);
}

.services .services-inner .services-grid .services-item .services-txt {
  padding-top: 16px;
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-grid .services-item .services-txt {
    padding-top: 20px;
  }
}

.services .services-inner .services-aside {
  width: 200px;
  margin-left: auto;
}

.services .services-inner .services-aside .pricing-btn {
  position: -webkit-sticky;
  position: sticky;
  display: block;
  right: 0;
  width: 100%;
  margin-top: 80px;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--font-colour);
  color: var(--primary-colour);
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-aside .pricing-btn {
    top: calc(100vh - 120px);
    margin-top: unset;
  }
}

@media screen and (min-width: 1600px) {
  .services .services-inner .services-aside .pricing-btn {
    top: calc(100vh - 128px);
    font-size: 15px;
    font-weight: 700;
  }
}
/*# sourceMappingURL=Sections.css.map */