.projects {
  width: 100%;

  @media screen and (min-width: 760px) {
    display: flex;
  }

  .project-img-contain {
    width: calc(100% + 32px);
    transform: translateX(-16px);
    overflow: hidden;
    animation: appear 0.8s ease-out;

    @keyframes appear {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @media screen and (min-width: 760px) {
      transform: translateX(-40px);
    }

    @media screen and (min-width: 1280px) {
      transform: translateX(-80px);
    }

    @media screen and (min-width: 1600px) {
      width: calc(100% - 240px);
      transform: translateX(-120px);
    }

    .project-img-inner {
      display: flex;
      width: 300%;
      transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);

      img {
        width: calc(100% / 3);
        height: 100%;
      }
    }
  }

  .project-content {
    position: relative;
    width: 100%;
    margin-top: 40px;

    @media screen and (min-width: 760px) {
      margin-top: unset;
      margin-left: 40px;
    }

    @media screen and (min-width: 1280px) {
      margin-left: unset;
    }

    @media screen and (min-width: 1600px) {
    }

    .content-upper {
      .upper-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @media screen and (min-width: 760px) {
          flex-direction: column-reverse;
          align-items: unset;
        }

        &.row {
          @media screen and (min-width: 760px) {
            flex-direction: row;
            align-items: flex-start;

            .nav-arrows {
              margin-bottom: unset;
            }
          }
        }

        .project-title-contain {
          overflow: hidden;
        }

        h3 {
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 0.8px;
          text-transform: uppercase;

          @media screen and (min-width: 760px) {
            font-size: 24px;
          }
        }

        .nav-arrows {
          display: flex;
          justify-content: space-between;
          width: 72px;

          @media screen and (min-width: 760px) {
            margin-bottom: 40px;
          }

          @media screen and (min-width: 1280px) {
            width: 80px;
          }

          @media screen and (min-width: 1600px) {
            margin-bottom: 56px;
          }

          &.stretch {
            @media screen and (min-width: 760px) {
              margin-bottom: 48px;
            }
          }

          .arrow {
            display: flex;
            align-items: center;

            &:nth-child(1) {
              transform: rotate(180deg);
            }

            svg {
              height: 17px;

              @media screen and (min-width: 760px) {
                height: 18px;
              }

              @media screen and (min-width: 1600px) {
                height: 20px;
              }

              g {
                path {
                  stroke: var(--font-colour);
                  stroke-width: 2px;

                  @media screen and (min-width: 760px) {
                    stroke-width: 1.4px;

                  }
                }
              }
            }
          }

          .inactive {
            pointer-events: none;

            svg {
              g {
                path {
                  stroke: var(--accent-colour);
                }
              }
            }
          }
        }
      }
    }

    .project-type {
      width: 100%;
      margin-top: 20px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      color: var(--accent-colour);

      @media screen and (min-width: 760px) {
        margin-top: 24px;
        font-size: 15px;
      }

      @media screen and (min-width: 1280px) {
        margin-top: 16px;
      }

      @media screen and (min-width: 1600px) {
        margin-top: 32px;
        font-size: 16px;
      }

      &.stretch {
        margin-top: 32px;
      }
    }

    .project-description {
      margin-top: 32px;

      @media screen and (min-width: 760px) {
        width: 55%;
      }
    }

    .content-lower {
      width: 100%;
      margin-top: 80px;

      @media screen and (min-width: 760px) {
        position: absolute;
        bottom: 0;
        margin-top: 96px;
      }

      .lower-inner {
        display: flex;
        justify-content: space-between;
        width: 100%;

        a {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.2px;

          @media screen and (min-width: 760px) {
            font-weight: 600;
          }

          @media screen and (min-width: 1280px) {
            font-size: 17px;
          }

          @media screen and (min-width: 1600px) {
            font-size: 20px;
          }

          &:nth-child(1) {
            &:hover {
              svg {
                path {
                  stroke: var(--font-colour);
                }
              }
            }
            svg {
              width: 11px;
              height: 11px;
              margin-left: 8px;
              transform: translateY(2px);

              @media screen and (min-width: 1280px) {
                width: 13px;
                height: 13px;
              }

              @media screen and (min-width: 1600px) {
                width: 14px;
                height: 14px;
              }

              path {
                stroke: var(--accent-colour);
                stroke-width: 0.8px;
              }
            }

            @media screen and (min-width: 760px) {
              svg {
                path {
                  stroke-width: 1px;
                }
              }
            }
          }

          &:nth-last-child(1) {
            color: var(--accent-colour);

            &:hover {
              color: var(--font-colour);
            }
          }
        }

        span {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.2px;
          color: var(--accent-colour);

          @media screen and (min-width: 760px) {
            font-weight: 600;
          }

          @media screen and (min-width: 1280px) {
            font-size: 17px;
          }

          @media screen and (min-width: 1600px) {
            font-size: 20px;
          }

          .load-icon {
            width: 11px;
            height: 11px;
            margin-left: 8px;
            margin-top: 2px;
            border: 1px solid var(--accent-colour);
            border-radius: 100%;
            border-top: 1px solid var(--primary-colour);
            animation: spin 2s linear infinite;

            @media screen and (min-width: 1280px) {
              width: 13px;
              height: 13px;
              margin-top: unset;
              border: 2px solid var(--accent-colour);
              border-top: 2px solid var(--primary-colour);
            }

            @keyframes spin {
              0% {
                transform: rotate(0deg);
              }
              100% {
                transform: rotate(360deg);
              }
            }
          }
        }
      }
    }
  }
}
