.projects {
  width: 100%;

  .project-img-contain {
    width: calc(100% + 32px);
    transform: translateX(-16px);

    .project-img-inner {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .project-content {
    width: 100%;
    margin-top: 48px;

    .content-upper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      h3 {
        text-transform: uppercase;
      }

      .nav-arrows {
        display: flex;
        justify-content: space-between;
        width: 72px;

        .arrow {
          display: flex;
          align-items: center;

          &:nth-child(1) {
            transform: rotate(180deg);
            opacity: 0.5;

            svg {
              g {
                path {
                  stroke: #8d8d8d;
                }
              }
            }
          }

          svg {
            height: 17px;
            g {
              path {
                stroke: #000;
                stroke-width: 1.5px;
              }
            }
          }
        }
      }
    }

    .project-type {
      width: 100%;
      margin-top: 24px;
      font-size: 13px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      opacity: 0.5;
    }

    .content-lower {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 96px;

      a {
        display: flex;
        align-items: center;
        font-size: 17px;

        &:nth-child(1) {
          svg {
            width: 12px;
            height: 12px;
            margin-left: 6px;
            transform: translateY(2px);

            path {
              stroke: #8d8d8d;
              stroke-width: 0.8px;
            }
          }
        }

        &:nth-last-child(1) {
          color: #8d8d8d;
        }
      }
    }
  }
}
