.projects {
  width: 100%;
}

@media screen and (min-width: 760px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.projects .project-img-contain {
  width: calc(100% + 32px);
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
  overflow: hidden;
  opacity: 0;
  -webkit-animation: appear 0.8s ease forwards;
          animation: appear 0.8s ease forwards;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 760px) {
  .projects .project-img-contain {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@media screen and (min-width: 1280px) {
  .projects .project-img-contain {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
}

@media screen and (min-width: 1600px) {
  .projects .project-img-contain {
    width: calc(100% - 240px);
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
}

.projects .project-img-contain .project-img-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  -webkit-transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.projects .project-img-contain .project-img-inner img {
  width: calc(100% / 3);
  height: 100%;
}

.projects .project-content {
  position: relative;
  width: 100%;
  margin-top: 48px;
}

@media screen and (min-width: 760px) {
  .projects .project-content {
    margin-top: unset;
    margin-left: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .projects .project-content {
    margin-left: unset;
  }
}

.projects .project-content .content-upper .upper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 760px) {
  .projects .project-content .content-upper .upper-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.projects .project-content .content-upper .upper-inner .project-title-contain {
  overflow: hidden;
}

.projects .project-content .content-upper .upper-inner h3 {
  letter-spacing: 0.4px;
  text-transform: uppercase;
  -webkit-animation: title-anim 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
          animation: title-anim 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
}

@-webkit-keyframes title-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes title-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.projects .project-content .content-upper .upper-inner .nav-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 72px;
}

@media screen and (min-width: 760px) {
  .projects .project-content .content-upper .upper-inner .nav-arrows {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .projects .project-content .content-upper .upper-inner .nav-arrows {
    width: 80px;
  }
}

@media screen and (min-width: 1600px) {
  .projects .project-content .content-upper .upper-inner .nav-arrows {
    margin-bottom: 56px;
  }
}

.projects .project-content .content-upper .upper-inner .nav-arrows .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .project-content .content-upper .upper-inner .nav-arrows .arrow:nth-child(1) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.projects .project-content .content-upper .upper-inner .nav-arrows .arrow svg {
  height: 17px;
}

@media screen and (min-width: 760px) {
  .projects .project-content .content-upper .upper-inner .nav-arrows .arrow svg {
    height: 18px;
  }
}

@media screen and (min-width: 1600px) {
  .projects .project-content .content-upper .upper-inner .nav-arrows .arrow svg {
    height: 20px;
  }
}

.projects .project-content .content-upper .upper-inner .nav-arrows .arrow svg g path {
  stroke: var(--font-colour);
  stroke-width: 1.5px;
}

.projects .project-content .content-upper .upper-inner .nav-arrows .inactive {
  opacity: 0.5;
  pointer-events: none;
}

.projects .project-content .content-upper .upper-inner .nav-arrows .inactive svg g path {
  stroke: #8d8d8d;
}

.projects .project-content .project-type {
  width: 100%;
  margin-top: 24px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--accent-colour);
}

@media screen and (min-width: 760px) {
  .projects .project-content .project-type {
    margin-top: 16px;
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .projects .project-content .project-type {
    margin-top: 16px;
  }
}

@media screen and (min-width: 1600px) {
  .projects .project-content .project-type {
    margin-top: 32px;
    font-size: 16px;
  }
}

.projects .project-content .project-description {
  margin-top: 24px;
}

@media screen and (min-width: 760px) {
  .projects .project-content .project-description {
    width: 60%;
  }
}

.projects .project-content .content-lower {
  width: 100%;
  margin-top: 40px;
}

@media screen and (min-width: 760px) {
  .projects .project-content .content-lower {
    position: absolute;
    bottom: 0;
    margin-top: 96px;
  }
}

.projects .project-content .content-lower .lower-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.projects .project-content .content-lower .lower-inner a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

@media screen and (min-width: 1600px) {
  .projects .project-content .content-lower .lower-inner a {
    font-size: 20px;
  }
}

.projects .project-content .content-lower .lower-inner a:nth-child(1):hover svg path {
  stroke: var(--font-colour);
}

.projects .project-content .content-lower .lower-inner a:nth-child(1) svg {
  width: 12px;
  height: 12px;
  margin-left: 6px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media screen and (min-width: 1280px) {
  .projects .project-content .content-lower .lower-inner a:nth-child(1) svg {
    width: 13px;
    height: 13px;
  }
}

@media screen and (min-width: 1600px) {
  .projects .project-content .content-lower .lower-inner a:nth-child(1) svg {
    width: 14px;
    height: 14px;
  }
}

.projects .project-content .content-lower .lower-inner a:nth-child(1) svg path {
  stroke: var(--accent-colour);
  stroke-width: 0.8px;
}

@media screen and (min-width: 760px) {
  .projects .project-content .content-lower .lower-inner a:nth-child(1) svg path {
    stroke-width: 1px;
  }
}

.projects .project-content .content-lower .lower-inner a:nth-last-child(1) {
  color: var(--accent-colour);
}

.projects .project-content .content-lower .lower-inner a:nth-last-child(1):hover {
  color: var(--font-colour);
}

.projects .project-content .content-lower .lower-inner span {
  font-size: 17px;
  font-weight: 500;
  color: var(--accent-colour);
}

@media screen and (min-width: 1280px) {
  .projects .project-content .content-lower .lower-inner span {
    font-size: 18px;
  }
}

@media screen and (min-width: 1600px) {
  .projects .project-content .content-lower .lower-inner span {
    font-size: 20px;
  }
}
/*# sourceMappingURL=Projects.css.map */