@import "../Layout/Layout.scss";
@import "../Sections/Sections.scss";
@import "../Projects/Projects.scss";
@import "../Archive/Archive.scss";

$black: #000;
$obsidian: #151515;
$charcoal: #181818;
$ok: #2b2b2b;
$darkgrey: #808080;
$grey: #8d8d8d;
$lightgrey: #d7d7d7;
$white: #fff;
$offwhite: #e3e1e0;

.dark-theme {
  --primary-colour: #{$obsidian};
  --secondary-colour: #{$charcoal};
  --font-colour: #{$white};
  --accent-colour: #{$grey};
  --theme-switch-colour: #605dd1;
  --tag-colour: #{$ok};
  --line-colour: #{$darkgrey};

  .social-icon {
    img {
      filter: invert(1);
    }
  }

  .services-header {
    img {
      filter: invert(1);
    }
  }
}

.light-theme {
  --primary-colour: #{$offwhite};
  --secondary-colour: #{$lightgrey};
  --font-colour: #{$black};
  --accent-colour: #{$grey};
  --theme-switch-colour: #{$grey};
  --tag-colour: #{$grey};
  --line-colour: #{$darkgrey};
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  outline: none;
  // cursor: none !important;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

html {
  font-family: "Manrope", Helvetica, Arial, Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  background-color: var(--primary-colour);
  color: var(--font-colour);
}

main {
  padding: 160px 16px 104px 16px;

  @media screen and (min-width: 640px) {
    padding: 160px 40px 144px 40px;
  }

  @media screen and (min-width: 1280px) {
    padding: 120px 80px 144px 80px;
  }

  @media screen and (min-width: 1600px) {
    padding: 160px 120px 144px 120px;
  }
}

section {
  margin-top: 104px;

  &:nth-child(1) {
    margin-top: 56px;
  }

  @media screen and (min-width: 760px) {
    margin-top: 144px;
  }
}

a {
  color: unset;
  text-decoration: unset;
}

p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.4px;

  @media screen and (min-width: 760px) {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }

  @media screen and (min-width: 1600px) {
    font-size: 18px;
    line-height: 28px;
  }
}

h1 {
  font-size: 46px;
  font-weight: 800;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (min-width: 640px) {
    font-size: 24px;
  }

  @media screen and (min-width: 760px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 32px;
  }

  @media screen and (min-width: 1600px) {
    font-size: 34px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 500;

  @media screen and (min-width: 640px) {
    font-size: 21px;
    font-weight: 600;
  }

  @media screen and (min-width: 1280px) {
    font-size: 23px;
  }

  @media screen and (min-width: 1600px) {
    font-size: 25px;
  }
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

ul {
  list-style: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  z-index: 100000;

  @media screen and (min-width: 1280px) {
    width: 45px;
    height: 45px;
  }

  svg {
    height: 22px;

    @media screen and (min-width: 760px) {
      height: 22px;
    }

    @media screen and (min-width: 1280px) {
      height: 24px;
    }

    g {
      path {
        fill: var(--font-colour);
      }
    }
  }
}
