.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  padding: 0 16px;
  background-color: var(--primary-colour);
  z-index: 100000;
}

@media screen and (min-width: 640px) {
  .header {
    height: 104px;
    padding: 0 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    height: 120px;
    padding: 0 80px;
  }
}

@media screen and (min-width: 1600px) {
  .header {
    padding: 0 120px;
  }
}

.header .header-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .header-inner .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 100000;
}

@media screen and (min-width: 640px) {
  .header .header-inner .burger {
    display: none;
  }
}

.header .header-inner .burger .burger-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30px;
}

.header .header-inner .burger .burger-inner.active .line {
  height: 1px;
}

.header .header-inner .burger .burger-inner.active .line:nth-child(1) {
  margin-bottom: 0px;
}

.header .header-inner .burger .burger-inner .line {
  width: 100%;
  height: 2px;
  background-color: var(--font-colour);
  -webkit-transition: margin 0.2s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: margin 0.2s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.header .header-inner .burger .burger-inner .line:nth-child(1) {
  margin-bottom: 6px;
}

.header .header-inner .nav-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  padding: 0 16px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: -webkit-transform 0.4s 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: transform 0.4s 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: transform 0.4s 0.4s cubic-bezier(0.51, 0.92, 0.24, 1), -webkit-transform 0.4s 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
  background-color: var(--primary-colour);
  z-index: 10000;
}

.header .header-inner .nav-menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: unset;
          transition-delay: unset;
}

.header .header-inner .nav-menu .menu-list li {
  margin-bottom: 28px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  overflow: hidden;
}

.header .header-inner .nav-menu .menu-list li .link-contain .active {
  color: var(--accent-colour);
  pointer-events: none;
}

.header .header-inner .nav-menu .menu-copyright {
  position: absolute;
  bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.5;
}

.header .header-inner .nav-menu .theme-switch {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 24px;
  right: 16px;
}

.header .header-inner .time {
  position: absolute;
  margin-left: 64px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  z-index: 100000;
}

@media screen and (min-width: 760px) {
  .header .header-inner .time {
    margin-left: 100px;
    font-weight: 600;
  }
}

@media screen and (min-width: 1600px) {
  .header .header-inner .time {
    font-size: 18px;
  }
}

.header .header-inner .time span {
  color: #8d8d8d;
}

.header .header-inner .theme-switch {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

@media screen and (min-width: 640px) {
  .header .header-inner .theme-switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .header-inner .theme-switch .switch-inner {
  position: relative;
  width: 44px;
  height: 18px;
  background-color: var(--theme-switch-colour);
  border-radius: 20px;
}

.header .header-inner .theme-switch .switch-inner .switch-dot {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateX(100%) translateY(-50%);
          transform: translateX(100%) translateY(-50%);
  width: 22px;
  height: 22px;
  background-color: var(--font-colour);
  border-radius: 100%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.header .header-inner .theme-switch .switch-inner .switch-dot.active {
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
}

.header .header-inner .nav {
  display: none;
}

@media screen and (min-width: 640px) {
  .header .header-inner .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: 72px;
  }
}

.header .header-inner .nav li {
  position: relative;
  margin-right: 40px;
  font-size: 16px;
  font-weight: 600;
}

.header .header-inner .nav li:nth-last-child(1) {
  margin-right: unset;
}

@media screen and (min-width: 1600px) {
  .header .header-inner .nav li {
    font-size: 18px;
  }
}

.header .header-inner .nav li a {
  position: relative;
  color: var(--font-colour);
}

.header .header-inner .nav li .active {
  pointer-events: none;
}

.scrollbar {
  display: none;
  position: fixed;
  top: 160px;
  right: 40px;
  width: 1px;
  height: 104px;
  background-color: var(--tag-colour);
}

@media screen and (min-width: 760px) {
  .scrollbar {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .scrollbar {
    top: 140px;
    right: 80px;
    height: 120px;
  }
}

@media screen and (min-width: 1600px) {
  .scrollbar {
    right: 120px;
    height: 140px;
  }
}

.scrollbar .scrollbar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--font-colour);
  -webkit-animation: scrollbar-anim 1.6s ease-out;
          animation: scrollbar-anim 1.6s ease-out;
}

@-webkit-keyframes scrollbar-anim {
  0% {
    height: 100%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@keyframes scrollbar-anim {
  0% {
    height: 100%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

.footer {
  position: relative;
  width: 100%;
  padding: 32px 16px 40px 16px;
  background-color: var(--secondary-colour);
}

@media screen and (min-width: 760px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 240px;
    padding: 0 40px 0 40px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    height: 240px;
    padding: 0 80px 0 80px;
  }
}

@media screen and (min-width: 1600px) {
  .footer {
    height: 280px;
    padding: 0 120px 0 120px;
  }
}

.footer .footer-inner {
  width: 100%;
}

@media screen and (min-width: 760px) {
  .footer .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 140px;
  }
}

@media screen and (min-width: 1280px) {
  .footer .footer-inner {
    margin-left: 120px;
  }
}

.footer .footer-inner .footer-socials {
  margin-top: 32px;
}

@media screen and (min-width: 760px) {
  .footer .footer-inner .footer-socials {
    margin-top: unset;
  }
}

.footer .footer-inner .footer-socials a {
  margin-right: 32px;
  font-size: 14px;
  font-weight: 600;
}

.footer .footer-inner .footer-socials a:nth-last-child(1) {
  margin-right: 0;
}

@media screen and (min-width: 760px) {
  .footer .footer-inner .footer-socials a {
    font-size: 16px;
  }
}

@media screen and (min-width: 1600px) {
  .footer .footer-inner .footer-socials a {
    font-size: 18px;
  }
}

.footer .footer-inner .footer-description {
  margin-top: 40px;
  opacity: 0.5;
}

@media screen and (min-width: 760px) {
  .footer .footer-inner .footer-description {
    margin-top: unset;
  }
}

.footer .footer-inner .footer-description p {
  width: 85%;
}

.footer .footer-inner .footer-copyright {
  margin-top: 40px;
  font-weight: 500;
  opacity: 0.5;
}

.footer .footer-inner .footer-copyright p {
  letter-spacing: unset;
}

@media screen and (min-width: 760px) {
  .footer .footer-inner .footer-copyright {
    margin-top: unset;
  }
}

.hero {
  width: 100%;
  height: calc(100vh - 120px);
  margin-top: unset;
}

.hero .bg {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.title-contain {
  margin-bottom: 40px;
}

@media screen and (min-width: 760px) {
  .title-contain {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .title-contain {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1600px) {
  .title-contain {
    margin-bottom: 80px;
  }
}

.title-contain .title {
  overflow: hidden;
}

.title-contain .title h2 {
  -webkit-animation: title-anim 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
          animation: title-anim 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
}

@-webkit-keyframes title-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes title-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.title-contain .description {
  overflow: hidden;
}

.title-contain .description span {
  display: block;
  margin-top: 4px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #8d8d8d;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-animation: title-anim 0.6s 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
          animation: title-anim 0.6s 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
}

@media screen and (min-width: 640px) {
  .title-contain .description span {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .title-contain .description span {
    font-size: 16px;
  }
}

@media screen and (min-width: 1600px) {
  .title-contain .description span {
    margin-top: 12px;
    font-size: 18px;
  }
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  overflow: hidden;
}

@media screen and (min-width: 760px) {
  .social-icons {
    margin-top: 48px;
  }
}

.social-icons .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 20px;
  border-radius: 100%;
  border: 1px solid var(--accent-colour);
}

@media screen and (min-width: 1280px) {
  .social-icons .social-icon {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .social-icons .social-icon {
    width: 44px;
    height: 44px;
  }
}

.social-icons .social-icon:hover {
  border-color: var(--font-colour);
}

.social-icons .social-icon img {
  width: 14px;
  height: 14px;
  border-radius: 0 !important;
}

@media screen and (min-width: 1280px) {
  .social-icons .social-icon img {
    width: 16px;
    height: 16px;
  }
}

.tag-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tag-contain .info-tag {
  margin-bottom: 12px;
  margin-right: 16px;
  padding: 8px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 8px;
  text-transform: uppercase;
  border: 1px solid var(--tag-colour);
  border-radius: 4px;
  white-space: nowrap;
}

.email-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  font-size: 17px;
  font-weight: 500;
  color: var(--accent-colour);
}

@media screen and (min-width: 1280px) {
  .email-btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 1600px) {
  .email-btn {
    font-size: 20px;
  }
}

.email-btn:hover {
  color: var(--font-colour);
}

.email-btn:hover svg path {
  stroke: var(--font-colour);
}

.email-btn svg {
  width: 12px;
  height: 12px;
  margin-left: 6px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media screen and (min-width: 1280px) {
  .email-btn svg {
    width: 13px;
    height: 13px;
  }
}

@media screen and (min-width: 1600px) {
  .email-btn svg {
    width: 14px;
    height: 14px;
  }
}

.email-btn svg path {
  stroke: #8d8d8d;
  stroke-width: 1px;
}

.about {
  position: relative;
}

.about .about-intro {
  margin-bottom: 24px;
  overflow: hidden;
}

@media screen and (min-width: 760px) {
  .about .about-intro {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: unset;
  }
}

@media screen and (min-width: 760px) {
  .about .about-inner {
    width: 440px;
    margin-left: 180px;
  }
}

@media screen and (min-width: 1280px) {
  .about .about-inner {
    margin-left: 260px;
  }
}

@media screen and (min-width: 1600px) {
  .about .about-inner {
    width: 480px;
    margin-left: 320px;
  }
}

@media screen and (min-width: 760px) {
  .about .about-contact {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.services .services-inner {
  width: 100%;
}

@media screen and (min-width: 760px) {
  .services .services-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 180px);
    margin-left: 180px;
  }
}

@media screen and (min-width: 1280px) {
  .services .services-inner {
    width: calc(100% - 260px);
    margin-left: 260px;
  }
}

@media screen and (min-width: 1600px) {
  .services .services-inner {
    width: calc(100% - 320px);
    margin-left: 320px;
  }
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-grid {
    width: 480px;
  }
}

@media screen and (min-width: 1280px) {
  .services .services-inner .services-grid {
    width: 560px;
  }
}

@media screen and (min-width: 1600px) {
  .services .services-inner .services-grid {
    width: 640px;
  }
}

.services .services-inner .services-grid .services-item {
  width: 100%;
  margin-top: 40px;
}

.services .services-inner .services-grid .services-item:nth-child(1) {
  margin-top: unset;
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-grid .services-item {
    margin-top: 44px;
  }
}

@media screen and (min-width: 1600px) {
  .services .services-inner .services-grid .services-item {
    margin-top: 48px;
  }
}

.services .services-inner .services-grid .services-item .services-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden;
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-grid .services-item .services-header {
    margin-bottom: 18px;
  }
}

.services .services-inner .services-grid .services-item .services-line {
  width: 100%;
  height: 1px;
  background-color: var(--line-colour);
}

.services .services-inner .services-grid .services-item .services-txt {
  padding-top: 16px;
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-grid .services-item .services-txt {
    padding-top: 18px;
  }
}

.services .services-inner .services-aside {
  width: 100%;
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-aside {
    width: 200px;
    margin-left: auto;
  }
}

.services .services-inner .services-aside .pricing-btn {
  position: -webkit-sticky;
  position: sticky;
  display: block;
  right: 0;
  width: 100%;
  margin-top: 80px;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--font-colour);
  color: var(--primary-colour);
}

@media screen and (min-width: 760px) {
  .services .services-inner .services-aside .pricing-btn {
    top: calc(100vh - 120px);
    margin-top: unset;
    font-weight: 700;
  }
}

@media screen and (min-width: 1600px) {
  .services .services-inner .services-aside .pricing-btn {
    top: calc(100vh - 128px);
    font-size: 15px;
  }
}

.projects {
  width: 100%;
}

@media screen and (min-width: 760px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.projects .project-img-contain {
  width: calc(100% + 32px);
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
  overflow: hidden;
  opacity: 0;
  -webkit-animation: appear 0.8s ease forwards;
          animation: appear 0.8s ease forwards;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 760px) {
  .projects .project-img-contain {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@media screen and (min-width: 1280px) {
  .projects .project-img-contain {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
}

@media screen and (min-width: 1600px) {
  .projects .project-img-contain {
    width: calc(100% - 240px);
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
}

.projects .project-img-contain .project-img-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  -webkit-transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.projects .project-img-contain .project-img-inner img {
  width: calc(100% / 3);
  height: 100%;
}

.projects .project-content {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

@media screen and (min-width: 760px) {
  .projects .project-content {
    margin-top: unset;
    margin-left: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .projects .project-content {
    margin-left: unset;
  }
}

.projects .project-content .content-upper .upper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 760px) {
  .projects .project-content .content-upper .upper-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.projects .project-content .content-upper .upper-inner .project-title-contain {
  overflow: hidden;
}

.projects .project-content .content-upper .upper-inner h3 {
  font-size: 22px;
  text-transform: capitalize;
}

@media screen and (min-width: 760px) {
  .projects .project-content .content-upper .upper-inner h3 {
    font-size: 24px;
  }
}

.projects .project-content .content-upper .upper-inner .nav-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 72px;
}

@media screen and (min-width: 760px) {
  .projects .project-content .content-upper .upper-inner .nav-arrows {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .projects .project-content .content-upper .upper-inner .nav-arrows {
    width: 80px;
  }
}

@media screen and (min-width: 1600px) {
  .projects .project-content .content-upper .upper-inner .nav-arrows {
    margin-bottom: 56px;
  }
}

.projects .project-content .content-upper .upper-inner .nav-arrows .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .project-content .content-upper .upper-inner .nav-arrows .arrow:nth-child(1) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.projects .project-content .content-upper .upper-inner .nav-arrows .arrow svg {
  height: 17px;
}

@media screen and (min-width: 760px) {
  .projects .project-content .content-upper .upper-inner .nav-arrows .arrow svg {
    height: 18px;
  }
}

@media screen and (min-width: 1600px) {
  .projects .project-content .content-upper .upper-inner .nav-arrows .arrow svg {
    height: 20px;
  }
}

.projects .project-content .content-upper .upper-inner .nav-arrows .arrow svg g path {
  stroke: var(--font-colour);
  stroke-width: 1.2px;
}

.projects .project-content .content-upper .upper-inner .nav-arrows .inactive {
  opacity: 0.5;
  pointer-events: none;
}

.projects .project-content .content-upper .upper-inner .nav-arrows .inactive svg g path {
  stroke: #8d8d8d;
}

.projects .project-content .project-type {
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--accent-colour);
}

@media screen and (min-width: 760px) {
  .projects .project-content .project-type {
    margin-top: 24px;
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .projects .project-content .project-type {
    margin-top: 16px;
  }
}

@media screen and (min-width: 1600px) {
  .projects .project-content .project-type {
    margin-top: 32px;
    font-size: 16px;
  }
}

.projects .project-content .project-description {
  margin-top: 24px;
}

@media screen and (min-width: 760px) {
  .projects .project-content .project-description {
    width: 60%;
  }
}

.projects .project-content .content-lower {
  width: 100%;
  margin-top: 40px;
}

@media screen and (min-width: 760px) {
  .projects .project-content .content-lower {
    position: absolute;
    bottom: 0;
    margin-top: 96px;
  }
}

.projects .project-content .content-lower .lower-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.projects .project-content .content-lower .lower-inner a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

@media screen and (min-width: 760px) {
  .projects .project-content .content-lower .lower-inner a {
    font-weight: 600;
  }
}

@media screen and (min-width: 1280px) {
  .projects .project-content .content-lower .lower-inner a {
    font-size: 17px;
  }
}

@media screen and (min-width: 1600px) {
  .projects .project-content .content-lower .lower-inner a {
    font-size: 20px;
  }
}

.projects .project-content .content-lower .lower-inner a:nth-child(1):hover svg path {
  stroke: var(--font-colour);
}

.projects .project-content .content-lower .lower-inner a:nth-child(1) svg {
  width: 11px;
  height: 11px;
  margin-left: 6px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media screen and (min-width: 1280px) {
  .projects .project-content .content-lower .lower-inner a:nth-child(1) svg {
    width: 13px;
    height: 13px;
  }
}

@media screen and (min-width: 1600px) {
  .projects .project-content .content-lower .lower-inner a:nth-child(1) svg {
    width: 14px;
    height: 14px;
  }
}

.projects .project-content .content-lower .lower-inner a:nth-child(1) svg path {
  stroke: var(--accent-colour);
  stroke-width: 0.8px;
}

@media screen and (min-width: 760px) {
  .projects .project-content .content-lower .lower-inner a:nth-child(1) svg path {
    stroke-width: 1px;
  }
}

.projects .project-content .content-lower .lower-inner a:nth-last-child(1) {
  color: var(--accent-colour);
}

.projects .project-content .content-lower .lower-inner a:nth-last-child(1):hover {
  color: var(--font-colour);
}

.projects .project-content .content-lower .lower-inner span {
  font-size: 17px;
  font-weight: 500;
  color: var(--accent-colour);
}

@media screen and (min-width: 1280px) {
  .projects .project-content .content-lower .lower-inner span {
    font-size: 18px;
  }
}

@media screen and (min-width: 1600px) {
  .projects .project-content .content-lower .lower-inner span {
    font-size: 20px;
  }
}

.archive {
  width: 100%;
}

@media screen and (min-width: 760px) {
  .archive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.archive .archive-img-contain {
  width: calc(100% + 32px);
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
  opacity: 0;
  -webkit-animation: appear 0.8s ease forwards;
          animation: appear 0.8s ease forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 760px) {
  .archive .archive-img-contain {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    width: calc(100% + 80px);
  }
}

@media screen and (min-width: 1280px) {
  .archive .archive-img-contain {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
}

@media screen and (min-width: 1600px) {
  .archive .archive-img-contain {
    width: calc(100% - 240px);
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
}

.archive .archive-img-contain .archive-img-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 160px;
  width: 100%;
}

.archive .archive-img-contain .archive-img-inner img {
  width: 100%;
  height: 100%;
}

.archive .archive-grid {
  position: relative;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 24px;
  background-color: var(--secondary-colour);
  border-radius: 4px;
}

@media screen and (min-width: 760px) {
  .archive .archive-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.archive .archive-grid .archive-grid-item {
  position: relative;
  width: calc(50% - 12px);
  margin-bottom: 24px;
}

.archive .archive-grid .archive-grid-item:nth-child(2n - 1) {
  margin-right: 24px;
}

.archive .archive-grid .archive-grid-item:nth-last-child(1), .archive .archive-grid .archive-grid-item:nth-last-child(2) {
  margin-bottom: unset;
}

.archive .archive-grid .archive-grid-item:hover .grid-item-inner .item-overlay {
  visibility: visible;
  opacity: 1;
}

.archive .archive-grid .archive-grid-item:hover .grid-item-inner .item-overlay span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.archive .archive-grid .archive-grid-item .grid-item-inner {
  position: relative;
}

.archive .archive-grid .archive-grid-item .grid-item-inner .item-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5px);
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #e3e1e0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.archive .archive-grid .archive-grid-item .grid-item-inner .item-overlay.active {
  visibility: visible;
  opacity: 1;
}

.archive .archive-grid .archive-grid-item .grid-item-inner .item-overlay.active span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.archive .archive-grid .archive-grid-item .grid-item-inner .item-overlay span {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.archive .archive-grid .archive-grid-item .grid-item-inner img {
  width: 100%;
}

.archive .archive-slider {
  width: 100%;
  margin-top: 32px;
  padding: 16px 16px 11px 16px;
  background-color: var(--secondary-colour);
  border-radius: 4px;
  overflow: hidden;
}

@media screen and (min-width: 760px) {
  .archive .archive-slider {
    display: none;
  }
}

.archive .archive-slider .carousel {
  width: 100%;
}

.archive .archive-slider .carousel .archive-grid-item {
  width: calc((100% / 1.5) - 4px);
  margin-right: 20px;
}

.archive .archive-slider .carousel .archive-grid-item .grid-item-inner .item-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5px);
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #e3e1e0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.archive .archive-slider .carousel .archive-grid-item .grid-item-inner .item-overlay.active {
  visibility: visible;
  opacity: 1;
}

.archive .archive-slider .carousel .archive-grid-item .grid-item-inner .item-overlay.active span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.archive .archive-slider .carousel .archive-grid-item .grid-item-inner .item-overlay span {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.archive .archive-slider .carousel .archive-grid-item .grid-item-inner img {
  width: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.dark-theme {
  --primary-colour: #151515;
  --secondary-colour: #1a1a1a;
  --font-colour: #fff;
  --accent-colour: #8d8d8d;
  --theme-switch-colour: #605DD1;
  --tag-colour: #2b2b2b;
  --line-colour: #808080;
}

.dark-theme .social-icon img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.dark-theme .services-header img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.light-theme {
  --primary-colour: #e3e1e0;
  --secondary-colour: #d7d7d7;
  --font-colour: #000;
  --accent-colour: #8d8d8d;
  --theme-switch-colour: #8d8d8d;
  --tag-colour: #8d8d8d;
  --line-colour: #808080;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

html {
  font-family: "Manrope", Helvetica, Arial, Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  background-color: var(--primary-colour);
  color: var(--font-colour);
}

main {
  padding: 160px 16px 104px 16px;
}

@media screen and (min-width: 640px) {
  main {
    padding: 160px 40px 144px 40px;
  }
}

@media screen and (min-width: 1280px) {
  main {
    padding: 160px 80px 144px 80px;
  }
}

@media screen and (min-width: 1600px) {
  main {
    padding: 160px 120px 144px 120px;
  }
}

section {
  margin-top: 104px;
}

section:nth-child(1) {
  margin-top: unset;
}

@media screen and (min-width: 760px) {
  section {
    margin-top: 144px;
  }
}

a {
  color: unset;
  text-decoration: unset;
}

p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

@media screen and (min-width: 760px) {
  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }
}

@media screen and (min-width: 1600px) {
  p {
    font-size: 18px;
    line-height: 28px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (min-width: 640px) {
  h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 760px) {
  h2 {
    font-size: 26px;
  }
}

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1600px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

@media screen and (min-width: 640px) {
  h3 {
    font-size: 21px;
    font-weight: 600;
  }
}

@media screen and (min-width: 1280px) {
  h3 {
    font-size: 23px;
  }
}

@media screen and (min-width: 1600px) {
  h3 {
    font-size: 25px;
  }
}

ul {
  list-style: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  z-index: 100000;
}

@media screen and (min-width: 1280px) {
  .logo {
    width: 45px;
    height: 45px;
  }
}

.logo svg {
  height: 22px;
}

@media screen and (min-width: 760px) {
  .logo svg {
    height: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .logo svg {
    height: 24px;
  }
}

.logo svg g path {
  fill: var(--font-colour);
}
/*# sourceMappingURL=Index.css.map */