.archive {
  width: 100%;
}

@media screen and (min-width: 760px) {
  .archive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.archive .archive-img-contain {
  width: calc(100% + 32px);
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
  opacity: 0;
  -webkit-animation: appear 0.8s ease forwards;
          animation: appear 0.8s ease forwards;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 760px) {
  .archive .archive-img-contain {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    width: calc(100% + 80px);
  }
}

@media screen and (min-width: 1280px) {
  .archive .archive-img-contain {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
}

@media screen and (min-width: 1600px) {
  .archive .archive-img-contain {
    width: calc(100% - 240px);
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
}

.archive .archive-img-contain .archive-img-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 160px;
  width: 100%;
}

.archive .archive-img-contain .archive-img-inner img {
  width: 100%;
  height: 100%;
}

.archive .archive-grid {
  position: relative;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 24px;
  background-color: var(--secondary-colour);
  border-radius: 4px;
}

@media screen and (min-width: 760px) {
  .archive .archive-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.archive .archive-grid .archive-grid-item {
  position: relative;
  width: calc(50% - 12px);
  margin-bottom: 24px;
}

.archive .archive-grid .archive-grid-item:nth-child(2n - 1) {
  margin-right: 24px;
}

.archive .archive-grid .archive-grid-item:nth-last-child(1), .archive .archive-grid .archive-grid-item:nth-last-child(2) {
  margin-bottom: unset;
}

.archive .archive-grid .archive-grid-item:hover .grid-item-inner .item-overlay {
  visibility: visible;
  opacity: 1;
}

.archive .archive-grid .archive-grid-item:hover .grid-item-inner .item-overlay span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.archive .archive-grid .archive-grid-item .grid-item-inner {
  position: relative;
}

.archive .archive-grid .archive-grid-item .grid-item-inner .item-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5px);
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #e3e1e0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.archive .archive-grid .archive-grid-item .grid-item-inner .item-overlay.active {
  visibility: visible;
  opacity: 1;
}

.archive .archive-grid .archive-grid-item .grid-item-inner .item-overlay.active span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.archive .archive-grid .archive-grid-item .grid-item-inner .item-overlay span {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.archive .archive-grid .archive-grid-item .grid-item-inner img {
  width: 100%;
}

.archive .archive-slider {
  width: 100%;
  margin-top: 32px;
  padding: 16px 16px 11px 16px;
  background-color: var(--secondary-colour);
  border-radius: 4px;
  overflow: hidden;
}

@media screen and (min-width: 760px) {
  .archive .archive-slider {
    display: none;
  }
}

.archive .archive-slider .carousel {
  width: 100%;
}

.archive .archive-slider .carousel .archive-grid-item {
  width: calc((100% / 1.5) - 4px);
  margin-right: 20px;
}

.archive .archive-slider .carousel .archive-grid-item .grid-item-inner .item-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5px);
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #e3e1e0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.archive .archive-slider .carousel .archive-grid-item .grid-item-inner .item-overlay.active {
  visibility: visible;
  opacity: 1;
}

.archive .archive-slider .carousel .archive-grid-item .grid-item-inner .item-overlay.active span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.archive .archive-slider .carousel .archive-grid-item .grid-item-inner .item-overlay span {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.archive .archive-slider .carousel .archive-grid-item .grid-item-inner img {
  width: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/*# sourceMappingURL=Archive.css.map */